.main-nav {
  background-color: $dark-blue;
  height: 100vh;

  &__logo {
    height: 45px;
    text-align: center;

    .logo__text {
      color: white;
      font-size: 1.7rem;
      position: relative;
      top: 9px;
    }
  }
}
