.nav-item{
  
  align-items: center;
  color: $inactive-font;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  height: 45px;
  text-decoration: none;
  width: 160px;

  &:hover{
    background-color: $nav-hover;
    span {
      color: white;
    }
  }

  &__icon{
    width: 45px;
    text-align: center;
    font-size: 22px;
  }
}
