.btn {
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 8px 12px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;

  &.default {
    background-color: white;
    border: solid 1px $text-label;
    color: $text-label;

    &:hover {
      background-color: #EEEEEE;
    }

    &:active {
      background-color: #DDDDDD;
      outline: none;
    }
  }

  &.primary {
    background-color: $blue-primary;
    border-color: $blue-primary;
    color: white;

    &:hover {
      background-color: $blue-primary--hover;
    }

    &:active {
      background-color: $blue-primary--active;
      outline: none;
    }
  }
}

.new-button {
  background-color: $nav-hover;
  cursor: pointer;
  height: 100%;
  text-align: center;
  width: 45px;

  &__icon {
    color: white;
    font-size: 1.7rem;
    position: relative;
    top: 9px;
    transition: transform 0.3s;

    &.close {
      transform: rotate(135deg);
    }
  }
}
