.btn {
  border: none;
  border-radius: 2px;
  padding: 8px 12px;
  font-size: 0.9rem;
  font-weight: 300;

  &.primary {
    background-color: $blue-primary;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: $blue-primary--hover;
    }

    &:active {
      background-color: $blue-primary--active;
    }
  }
}

.new-button {
  background-color: $nav-hover;
  cursor: pointer;
  height: 100%;
  text-align: center;
  width: 45px;

  &__icon {
    color: white;
    font-size: 1.7rem;
    position: relative;
    top: 9px;
  }
}
