.button {
  border: none;
  border-radius: 2px;
  padding: 8px 12px;
  font-size: 0.9rem;
  font-weight: 300;

  &.primary {
    background-color: $blue-primary;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: $blue-primary--hover;
    }

    &:active {
      background-color: $blue-primary--active;
    }
  }
}
