.search-box{

  height: 42px;
  display: flex;
  align-items: center;

  &__input{
    box-sizing: border-box;
    width: 190px;
    height: 34px;
    border: none;
    padding: 0 10px 0 10px;
    margin: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &__magnifier{
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $top-bar-button;
    height: 34px;
    width: 42px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
