$blue-primary: #0054B6;
$blue-primary--hover: #004FAB;
$blue-primary--active: #00499E;
$top-bar-button: blue;
$inactive-font: #C5CBD1;
$nav-hover: #0098C7;
$dark-blue: #173146;
$light-blue: #E3EAF2;

$text-header: #272727;
