$bg-body: #F6F7F9;
$blue-primary: #0054B6;
$blue-primary--hover: #004FAB;
$blue-primary--active: #00499E;
$top-bar-button: blue;
$inactive-font: #C5CBD1;
$nav-hover: #496D8F;
$dark-blue: #1A3047;
$light-blue: #E3EAF2;

$text-header: #000000;
$text-body: #272727;
$text-label: #404040;
