* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  color: #272727; }

.main-layout {
  display: flex; }
  .main-layout__panel {
    position: relative;
    width: 100%; }
    .main-layout__panel .main-top-bar {
      background-color: #E3EAF2;
      display: flex;
      height: 45px;
      justify-content: space-around; }
      .main-layout__panel .main-top-bar div[class^="top-bar--"] {
        width: 33.333%; }
      .main-layout__panel .main-top-bar .top-bar--middle {
        display: flex;
        justify-content: center; }
    .main-layout__panel .panel-content {
      padding: 15px; }

.btn {
  border: none;
  border-radius: 2px;
  padding: 8px 12px;
  font-size: 0.9rem;
  font-weight: 300; }
  .btn.primary {
    background-color: #0054B6;
    color: white;
    cursor: pointer; }
    .btn.primary:hover {
      background-color: #004FAB; }
    .btn.primary:active {
      background-color: #00499E; }

.new-button {
  background-color: #0098C7;
  cursor: pointer;
  height: 100%;
  text-align: center;
  width: 45px; }
  .new-button__icon {
    color: white;
    font-size: 1.7rem;
    position: relative;
    top: 9px; }

.nav-item {
  width: 160px;
  height: 45px;
  display: flex;
  align-items: center;
  cursor: pointer; }
  .nav-item a {
    color: #C5CBD1;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300; }
  .nav-item:hover {
    background-color: #0098C7; }
    .nav-item:hover span {
      color: white; }
  .nav-item__icon {
    width: 45px;
    text-align: center;
    font-size: 22px; }

.main-nav {
  background-color: #173146;
  height: 100vh; }
  .main-nav__logo {
    height: 45px;
    text-align: center; }
    .main-nav__logo .logo__text {
      color: white;
      font-size: 1.7rem;
      position: relative;
      top: 9px; }

.new-menu__content {
  width: 600px;
  height: 200px;
  position: absolute;
  left: calc(50% - 310px);
  top: 53px;
  background-color: white;
  border-style: solid;
  border-color: #173146;
  border-width: 1px;
  border-radius: 2px;
  margin-left: 2px;
  padding: 15px 8px;
  box-shadow: 0 8px 17px -13px #000,-8px 0 17px -13px #000,8px 0 17px -13px #000;
  transition: top 0.3s ease; }

.menu-tip {
  width: 10px;
  height: 10px;
  background-color: white;
  border-style: solid;
  border-width: 1px 0 0 1px;
  border-color: #173146;
  position: absolute;
  left: calc(50% - 6px);
  top: 48px;
  transform: rotate(45deg);
  z-index: 2;
  transition: top 0.3s ease; }
