@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/*  WHOLES */
.one-whole {
  width: 100%; }

/*  HALVES */
.one-half, .five-tenths {
  width: 50%; }

/* THIRDS */
.one-third {
  width: 33.333%; }

.two-thirds {
  width: 66.666%; }

/* FITHS */
.one-fifth, .two-tenths {
  width: 20%; }

.two-fifths, .four-tenths {
  width: 40%; }

.three-fifths, .six-tenths {
  width: 60%; }

.four-fifths, .eight-tenths {
  width: 80%; }

/*  NINTHS */
.one-ninth {
  width: 11.111%; }

.two-ninths {
  width: 22.222%; }

/* TENTHS */
.one-tenth {
  width: 10%; }

.three-tenths {
  width: 30%; }

.seven-tenths {
  width: 70%; }

.nine-tenths {
  width: 90%; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.float-right {
  float: right; }

* {
  margin: 0;
  padding: 0; }

body {
  color: #272727;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  color: #000000; }

.main-layout {
  display: flex; }
  .main-layout__panel {
    position: relative;
    width: 100%; }
    .main-layout__panel .main-top-bar {
      background-color: #E3EAF2;
      display: flex;
      height: 45px;
      justify-content: space-around; }
      .main-layout__panel .main-top-bar div[class^="top-bar--"] {
        width: 33.333%; }
      .main-layout__panel .main-top-bar .top-bar--middle {
        display: flex;
        justify-content: center; }
    .main-layout__panel .panel-content {
      padding: 15px; }

.btn {
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 0.9rem;
  font-weight: 300; }
  .btn.default {
    background-color: white;
    border: solid 1px #404040;
    color: #404040; }
    .btn.default:hover {
      background-color: #EEEEEE; }
    .btn.default:active {
      background-color: #DDDDDD;
      outline: none; }
  .btn.primary {
    background-color: #0054B6;
    border-color: #0054B6;
    color: white; }
    .btn.primary:hover {
      background-color: #004FAB; }
    .btn.primary:active {
      background-color: #00499E;
      outline: none; }

.new-button {
  background-color: #496D8F;
  cursor: pointer;
  height: 100%;
  text-align: center;
  width: 45px; }
  .new-button__icon {
    color: white;
    font-size: 1.7rem;
    position: relative;
    top: 9px;
    transition: transform 0.3s; }
    .new-button__icon.close {
      transform: rotate(135deg); }

.nav-item {
  width: 160px;
  height: 45px;
  display: flex;
  align-items: center;
  cursor: pointer; }
  .nav-item a {
    color: #C5CBD1;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300; }
  .nav-item:hover {
    background-color: #496D8F; }
    .nav-item:hover span {
      color: white; }
  .nav-item__icon {
    width: 45px;
    text-align: center;
    font-size: 22px; }

.main-nav {
  background-color: #1A3047;
  height: 100vh; }
  .main-nav__logo {
    height: 45px;
    text-align: center; }
    .main-nav__logo .logo__text {
      color: white;
      font-size: 1.7rem;
      position: relative;
      top: 9px; }

.new-menu__content {
  width: 600px;
  height: 200px;
  position: absolute;
  left: calc(50% - 310px);
  top: 53px;
  background-color: white;
  border-style: solid;
  border-color: #1A3047;
  border-width: 1px;
  border-radius: 2px;
  margin-left: 2px;
  padding: 15px 8px;
  box-shadow: 0 8px 17px -13px #000,-8px 0 17px -13px #000,8px 0 17px -13px #000;
  transition: top 0.3s ease; }

.menu-tip {
  width: 10px;
  height: 10px;
  background-color: white;
  border-style: solid;
  border-width: 1px 0 0 1px;
  border-color: #1A3047;
  position: absolute;
  left: calc(50% - 6px);
  top: 48px;
  transform: rotate(45deg);
  z-index: 2;
  transition: top 0.3s ease; }

.modal-window .modal-header {
  font-size: 1.6rem;
  padding-bottom: 8px; }

.modal-window__close-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  height: 25px;
  outline: 0;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 25px;
  z-index: 2; }
  .modal-window__close-btn span.fa {
    color: #474747;
    font-size: 1.4rem; }

.row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px; }
  .row .form-group {
    display: flex;
    flex-direction: column; }
    .row .form-group:not(:last-of-type) {
      padding-right: 4px; }
    .row .form-group label {
      color: #404040;
      font-size: 0.87rem;
      font-weight: 700; }
    .row .form-group input[type=text] {
      outline: none;
      height: 32px;
      border: 1px solid #babec5;
      padding: 0 8px;
      border-radius: 2px;
      font-size: 0.81rem;
      background-color: #ffffff;
      box-sizing: border-box;
      -webkit-appearance: none;
      width: 100%;
      vertical-align: middle; }
    .row .form-group .center-text {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%); }

.two-columns-form {
  display: flex;
  justify-content: space-between; }
  .two-columns-form .column {
    width: 48%; }

.form-buttons {
  padding-top: 25px; }

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto; }
  .login-page .title {
    text-align: center;
    color: white;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    bottom: 6px;
    font-size: 2.4rem; }

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 2px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px; }

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0054B6;
  width: 100%;
  border: 0;
  border-radius: 2px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer; }
  .form button:hover {
    background: #004FAB; }
  .form button:active {
    background: #00499E; }

.form .message {
  cursor: pointer;
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px; }

.form .message span.link {
  color: #0054B6;
  text-decoration: none; }

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto; }

.container:before, .container:after {
  content: "";
  display: block;
  clear: both; }

.container .info {
  margin: 50px auto;
  text-align: center; }

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a; }

.container .info span {
  color: #4d4d4d;
  font-size: 12px; }

.container .info span a {
  color: #000000;
  text-decoration: none; }

.container .info span .fa {
  color: #EF3B3A; }

.home-page {
  background: #154782;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
